@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: #4f65e9;
  --secondary-color: #0b1469;
  --third-color: #2f45c2;
  --fourth-color: #f1f1f9;
  --fifth-color: #ab3adb;
  --sixth-color: #f30032;
}
